<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686602671698-kfonfajt368e6uo9v9itlnkbuen1lgdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686602671698-kfonfajt368e6uo9v9itlnkbuen1lgdt</string>
	<key>API_KEY</key>
	<string>AIzaSyDGHTrOwz9CnTShjkhVSXbuiBNc4u2aJU8</string>
	<key>GCM_SENDER_ID</key>
	<string>686602671698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freevid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>freevid-4fd84</string>
	<key>STORAGE_BUCKET</key>
	<string>freevid-4fd84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686602671698:ios:5766bf2ec1fb4f760af18b</string>
</dict>
</plist>